:root {
    font-family: 'Josefin Sans', sans-serif;
    color: hsl(236, 9%, 61%);
}
* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
}
main {
    width: 100%;
    height: 100vh;
    background-image: url("images/bg-desktop-light.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 4% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.3rem;
}
form {
    position: relative;
}
.logo-theme {
    width: 35rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    cursor: pointer;
    color: white;
    font-size: 2.4rem;
    letter-spacing: 14px;
}
.toggle {
    cursor: pointer;
}

.main-section {
    width: 35rem;
    height: 50rem;
}
#new-todo {
    color: hsl(235, 19%, 35%);
    font-size: 1.2rem;
    width: 100%;
    height: 4rem;
    border-radius: 6px;
    padding: 0 4rem 3px 4rem;
    background: white;
    margin-bottom: 1rem;
}
#new-todo:focus {
    outline: none;
}

.checkmark {
    position: absolute;
    display: block;
    top: 17px;
    left: 18px;
    height: 1.5rem;
    width: 1.5rem;
    border: 1.5px solid hsl(233, 11%, 84%);
    border-radius: 50%;
}
.check {
    position: absolute;
    top: 32%;
    left: 29%;
}
.list .checkmark {
    cursor: pointer;
}
.cross {
    height: 1.2rem;
    position: absolute;
    top: 22px;
    right: 1.7rem;
    display: none;
    cursor: pointer;
}
.list {
    width: 100%;
    height: 27rem;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 4px 20px 15px hsla(235, 21%, 11%,8%);
}
.container {
    color: hsl(235, 19%, 35%);
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    width: 100%;
    height: 4rem;
    padding: 0 4rem;
    border-bottom: 2px solid hsl(236, 33%, 92%);
}
.container:hover .cross {
    display: block;
}
.container:hover .checkmark{
    border-color: hsl(235, 19%, 35%);
}
.container input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}
.container input[type="checkbox"]:checked ~ .checkmark {
    background-image: linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%));
}
.container input[type="checkbox"]:checked ~ .text {
    color: hsl(233, 11%, 84%);
    text-decoration: line-through hsl(233, 11%, 84%);
}

.control {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}
.filter span {
    display: inline-block;
    margin: 0 7px;
    cursor: pointer;
}
.filter span:not(.active):hover {
    color: hsl(235, 19%, 35%);
}
.filter span.active {
    color:hsl(220, 98%, 61%);
}
.clear {
    cursor: pointer;
}
.clear:hover {
    color: hsl(235, 19%, 35%);
}